@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .folder[hovered] {
    outline: 1px solid indigo;
  }

  button[hovered] {
    outline: 2px solid white;
    background-color: darkblue;
  }

  button.clicked {
    background-color: black !important;
  }
}

body {
  overflow: hidden;
}
