@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .folder[hovered] {
    outline: 1px solid indigo;
  }

  button[hovered] {
    outline: 1px solid indigo;
  }
}

body {
  overflow: hidden;
}
