<template name="folderAdmin">
  <div id="folderAdmin" class="privileged folder absolute flex flex-wrap flex-col max-w-fit" style="{{position}}">
    <div class="bg-folder bg-contain bg-no-repeat h-24 w-24"></div>
    <div class="place-self-center text-white [text-shadow:_0_2px_7px_rgb(0_0_0_/_90%)]"><span class="text-xl">Le Boss</span></div>
  </div>
</template>

<template name="folderVestiaire">
  <div id="folderVestiaire" class="folder absolute flex flex-wrap flex-col max-w-fit" style="{{position}}">
    <div class="bg-folder bg-contain bg-no-repeat h-24 w-24"></div>
    <div class="place-self-center text-white [text-shadow:_0_2px_7px_rgb(0_0_0_/_90%)]"><span class="text-xl">Vestiaire</span></div>
  </div>
</template>

<template name="folderTrees">
  <div id="folderTrees" class="folder absolute flex flex-wrap flex-col max-w-fit" style="left:{{x}}px; top:{{y}}px">
    <div class="bg-folder bg-contain bg-no-repeat h-24 w-24"></div>
    <div class="place-self-center text-white [text-shadow:_0_2px_7px_rgb(0_0_0_/_90%)]"><span class="text-xl">Pépinière</span></div>
  </div>
</template>

<template name="folderHide">
  <div id="folderHide" class="folder">
    <div class="bg-folder h-36 w-36"></div>
    <span class="text-sm">?</span>
  </div>
</template>
